/* font imports */

@font-face {
  font-family: 'Suisse';
  src: url('/fonts/suisse/SuisseIntl-Regular.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse';
  src: url('/fonts/suisse/SuisseIntl-SemiBold-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-SemiBold-WebS.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse';
  src: url('/fonts/suisse/SuisseIntl-Medium-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Medium-WebS.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseMono';
  src: url('/fonts/suisse/SuisseIntlMono-Regular-WebS.woff2') format('woff2'),
    url('/fonts/SuisseIntlMono-Regular-WebS.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
